.topbar-container {
  padding-top: 70px;
}

.topbar-menu {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  padding: 20px;
  top: 0;
}

.topbar-menu h1 {
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fefbf7;
  text-transform: uppercase;
  padding: 5px;
}

.topbar-menu h1:before {
  content : "";
  position: absolute;
  left    : -5px;
  bottom  : -2px;
  height  : 30%;
  width   : 20%;
  border-bottom: 4px solid #fefbf7;
  border-left: 4px solid #fefbf7;
}

.topbar-menu h1:after {
  content : "";
  position: absolute;
  top    : -5px;
  right  : -5px;
  height  : 30%;
  width   : 20%;
  border-top: 4px solid #fefbf7;
  border-right: 4px solid #fefbf7;
}

.icons {
  display: flex;
  flex: 0 1 auto;
  width: 150px;
  margin-left: auto;
  gap: 20px;
  align-items: center;
}

.topbar-container p {
  text-align: center;
  font-size: 24px;
  color: #e0dfdb;
  font-weight: 500;
  position: relative;
}

@media screen and (max-width: 991px) {
  .topbar-container p {
    font-size: 18px;
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topbar-menu h1 {
    left: 20%;
  }

  .topbar-container p {
    font-size: 15px;
  }

}


