form {
  text-align: center;
  margin-top: 50px;
}

input {
  display: none;
}

.output {
  padding-top: 20px;
}

.uploadwrap {
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: 20px;
}
