@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
  margin: 0;
  font-style: 'Noto Serif';
  color: #4e4e4e;
  background-color: #ededed;
}

.App {
  width: 1000px;
  margin: 0 auto;
}

