@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
  margin: 0;
  font-style: 'Noto Serif';
  color: #4e4e4e;
  background-color: #ededed;
}

.App {
  width: 100%;
  margin: 0 auto;
}

.containerApp {
  width: 1000px;
  margin: 0 auto;
  background-color: #282828;
  border-radius: 25px;
  -webkit-box-shadow: -1px 1px 21px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: -1px 1px 21px -7px rgba(66, 68, 90, 1);
  box-shadow: -1px 1px 21px -7px rgba(66, 68, 90, 1);
}

@media screen and (max-width: 991px) {
  .containerApp {
    width: 100%;
}
}

@media screen and (max-width: 600px) {
  .containerApp {
    width: 100%;
  }
}

